body {
    background-color: #dfdfeb;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    color: #252323;
}


.logo-container {
    width: 300px;
    height: 300px;
    display: inline-block;
}

.logo-container img {
    width: 100%;
    height: auto;
    display: block;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title-container {
    width: 35%;
    text-align: center;
}

.input-container{
    text-align: center;
    margin-top: 30px;
}

.input-container input {
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input-container button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}

#responseMessage {
    margin-top: 15px;
    font-size: 1.1rem;
    height: 1.5rem;
}

.statement-container {
    margin: 20px auto;
    padding: 0px;
    max-width: 1600px;
    text-align: left;
}

.statement-container p {
    text-indent: 60px;
    line-height: 1.4;
    font-size: 1.1rem;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.employment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}