body {
    background-color: #dfdfeb;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    color: #252323;
}

.logo-container {
    width: 300px;
    height: 300px;
    display: inline-block;
}

.logo-container img {
    width: 100%;
    height: auto;
    display: block;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title-container {
    width: 35%;
    text-align: center;
}

.input-container{
    text-align: center;
    margin-top: 30px;
}

.input-container input {
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input-container button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}

#responseMessage {
    margin-top: 15px;
    font-size: 1.1rem;
    height: 1.5rem;
}

.statement-container {
    margin: 20px auto;
    padding: 0px;
    max-width: 1600px;
    text-align: left;
}

.statement-container p {
    text-indent: 60px;
    line-height: 1.4;
    font-size: 1.1rem;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.employment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.gallery-card {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    font-family: sans-serif;
}

.crop-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)
}

.crop-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.crop-container:hover img {
    transform: scale(1.05)
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1000px;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    max-height: 70vh;
    object-fit: contain;
}

.caption-container {
    color: white;
    padding: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {right: 0; border-radius: 3px 0 0 3px;}
.prev {left: 0; border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}

.close {
    color: white; 
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}